#navigation {
  background-color: #e74c3c ; 
  padding: 20px 10px;
  z-index: 10;
}

#navigation li{
  padding: 0 10px;
}

#navigation li a{
  color: white;
}

.navbar-brand,
.navbar-brand:hover{ 
  color: white;
}

span.navbar-toggler-icon{
  background: url(images/menu.png);
  background-size: 100%;
}