
/*NAVBAR*/

#navigation {
  background-color: #e74c3c ; 
  padding: 20px 10px;
  z-index: 10;
}

#navigation li{
  padding: 0 10px;
}

#navigation li a{
  color: white;
}

.navbar-brand,
.navbar-brand:hover{ 
  color: white;
}

span.navbar-toggler-icon{
  background: url(images/menu.png);
  background-size: 100%;
}

/*SHOWCASE SECTION*/

#showcase{
  position: relative;
  background-image: url("images/portfolio.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 80vh;
}

#header{
  z-index: 2;
  position: relative;
  padding-top: 10%;
}

.overlay{
  background: rgba(0,0,0,0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/*ABOUT*/

#about{
  padding: 100px 0;
}

.aboutImage{
  width: 80%;
  padding-left: 20px;
}

.aboutHeader{
  margin-bottom: 5%;
}





@media(max-width: 768px){
  #showcase{
    height: 50vh;
  }

  #showcase h1{
    font-size: 2rem;
  }

  #header{
    padding-top: 15%;
  }

  .overlay{
    height: 50vh;
  }

}
